<!-- blog site container -->
<div class="blog-container">
  <div class="card-header col-md-10">
    <h2>
      &#1F4BB Tech Blog
    </h2>
  </div>
    <div>
      <ol>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
        <li>
          <!-- import data dynamically -->
        </li>
      </ol>
    </div>
  </div>
</div>