<div class="blogs-card">
  <div class="dish-card-header">
    <h2>{{blogs.blogTitle}}</h2>
    <p id="author">{{blogs.blog_author}}</p>
    <p id="date">{{blogs.blog_date}}</p>
  </div>
  <div class="card-body">
    <p>{{blogs.blog_content}}</p>
  </div>
</div>